@font-face {
    font-family: 'MyFont';
    src: url('./Spiritual\ Mountain.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
    font-size: 50px;
}